<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SpecBased_FaultLoc_MT/src/es/us/eii/fault/localization/mt/main/FaultLocalizationMT_Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/SpecBased_FaultLoc_MT}/output.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="es.us.eii.fault.localization.mt.main.FaultLocalizationMT_Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SpecBased_FaultLoc_MT"/>
</launchConfiguration>
